body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; /* Light background color */
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff; /* White background for containers */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.button-primary {
  background-color: #007bff;
  border: none;
  color: white;
}